@tailwind base;
* {
    scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #edeeee;
    border-radius: 10px;
}
@tailwind components;
@tailwind utilities;
